<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	printerFile="vendor/whatthejeff/nyancat-phpunit-resultprinter/src/NyanCat/PHPUnit/ResultPrinter.php"
	printerClass="NyanCat\PHPUnit\ResultPrinter"
	>
	<testsuites>
		<testsuite name="unit">
			<directory suffix="-test.php">./tests/unit</directory>
		</testsuite>
		<testsuite name="integration">
			<directory suffix="-test.php">./tests/integration</directory>
		</testsuite>
	</testsuites>
</phpunit>
